body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: rgb(255,149,0);
background: linear-gradient(89deg, rgba(255,149,0,0.7455357142857143) 0%, rgba(254,255,11,0.8519782913165266) 23%, rgba(255,142,105,0.5606617647058824) 100%);
}

button {
  cursor: pointer;
}
